@media screen and (max-width:1440px){
    .container{
        width: 100vw;
    }
}

/* Responsive CSS for large mobile device starts */
@media screen and (min-width:320px) and (max-width:480px){

    /* header responsive css starts */
    #header .header-bg .header{
        flex-direction: column;
    }
    #header .header-bg .header .header-logo a, .header-menu{
        justify-content: center;
    }
    
    #header .header-bg .header .header-menu nav ul{
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }
    /* header responsive css ends */

    /* banner responsive css starts */
    #banner .banner-bg .banner .banner-content{
        flex-direction: column-reverse;
    }

    #banner .banner-bg .banner .banner-content .banner-text{
        margin-bottom: 80px;
        text-align: center;
    }
    #banner .banner-bg .banner .banner-content .banner-text h1{
        font-size: 80px;
    }

    #banner .banner-bg .banner .banner-content .banner-text .button{
        justify-content: center;
    }

    /* banner responsive css ends */

    /* we  are gamer responsive css starts */
    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content{
        /* display: flex; */
        flex-direction: column;
        /* align-items: center; */
    }

    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-img img{
        width: 100%;
    }

    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text {
        padding: 0;
        margin: 0px 20px;
    }

    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text h2{
        text-align: center;
    }
    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text .fp{
        text-align: center;
    }
    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text .btn{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    }
    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text .sp{
        text-align: center;
    }
    #we_r_gamer .we_r_gamer-bg .we_r_gamer .we_r_gamer-content .we-text h3{
        text-align: center;
    }
    /* we  are gamer responsive css ends */

    /* gallery responsive css starts */
    #gallery .gallery-bg .gallery .gallery-content .h-text{
        margin: 0px 20px;
    }

    #gallery .gallery-bg .gallery .gallery-content .gallery-items{
        grid-template-columns: repeat(1, 320px);
        justify-content: center;
        gap: 25px;
    }
    /* gallery responsive css ends */

    /* play instant responsive starts */
    #play-ins, .play-ins-bg .play-ins .play-ins-content{
        flex-direction: column;
    }

    #play-ins .play-ins-bg .play-ins .play-ins-content .play-text{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 0 30px;
        margin-bottom: 30px;
    }

    #play-ins .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(2){
        text-align: center;
    }

    #play-ins .play-ins-bg .play-ins .play-ins-content .play-img{
        display: flex;
        justify-content: center;
    }

    #play-ins .play-ins-bg .play-ins .play-ins-content .play-img img{
        width: 80%;
    }

    #play-ins .play-ins-bg .play-ins .play-ins-content .play-img .lower-img{
        width: 45%;
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
    }
    /* play instant responsive ends */


    /* play games responsive starts */
    #play-gam .play-ins-bg .play-ins .play-ins-content{
        flex-direction: column-reverse;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-text{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin: 0 30px;
        margin-bottom: 30px;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(2){
        text-align: center;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-img{
        display: flex;
        justify-content: center;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-img img{
        width: 80%;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-img .lower-img{
        width: 30%;
        position: absolute;
        top: 77%;
        left: 68%;
    }

    #play-gam .play-ins-bg .play-ins .play-ins-content .play-img .lower-img  img{
        width: 100%;
    }
    /* play games responsive ends */

    /* grid-games responsive starts */
    #grid-game .grid-game-bg .grid-game .grid-align{
        display: grid;
        grid-template-columns: repeat(auto-fit, 248px);
        justify-content: center;
        grid-template-rows: repeat(2, 80px);
        row-gap: 30px;
    }

    #grid-game .grid-game-bg .grid-game .grid-align .f, .g, .h, .i{
        margin-left: 0%;
    }
    /* grid-games responsive ends */






    #footer .footer-bg .footer .footer-content .footer-menu ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #footer .footer-bg .footer .footer-content .footer-menu ul li a{
        margin: 0;
    }

    #footer .footer-bg .footer .footer-content .social ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #footer .footer-bg .footer .footer-content .terms ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #footer .footer-bg .footer .footer-content .terms ul li a{
        margin: 0px;
    }

    #footer .footer-bg .footer .footer-content .terms ul li{
        margin-left: 40px;
        margin-top: 15px;
    }
}
/* Responsive CSS for large mobile device ends */












@media screen and (min-width:481px) and (max-width:768px){
    #header .header-bg .header{
        flex-direction: column;
    }
    /* #header .header-bg .header .header-menu{
        flex-direction: column;
    } */

    #header .header-bg .header .header-logo, .header-menu{
        justify-content: center;
    }

    #header .header-bg .header .header-menu nav ul{
        margin-top: 30px;
        flex-direction: column;
        gap: 20px;
    }

}