/* Font Import starts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Font Import ends */


/* common css starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --linear_1: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear_2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --cm-bg_color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    --pera-col: #534C64;
    --black-col: #0B0223;
    --font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: var(--font-family);
}

.full-wrapper {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.btn button {
    background: var(--linear_1);
    border: none;
    display: inline-flex;
    padding: 15px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}

.common_p {
    color: var(--pera-col);
    font-weight: 500;
}

/* common css ends */

/* Header Section CSS starts */
#header .header-bg {
    padding-top: 44px;
    padding-bottom: 44px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

#header .header-bg .header {
    display: flex;
    justify-content: space-between;
}

#header .header-bg .header .header-logo a {
    display: flex;
}

#header .header-bg .header .header-logo p {
    color: var(--black-col);
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}

#header .header-bg .header .header-logo p span {
    background: var(--linear_1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header .header-bg .header .header-menu {
    display: flex;
    align-items: center;
}

#header .header-bg .header .header-menu nav ul {
    display: flex;
    gap: 40px;
}

#header .header-bg .header .header-menu nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .header-bg .header .header-menu nav ul li:hover {
    border-radius: 8px;
    /* width: 200px; */
    height: 36px;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);
}

#header .header-bg .header .header-menu nav ul li:nth-child(3) {
    border-radius: 8px;
    width: 200px;
    height: 36px;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);

}

#header .header-bg .header .header-menu nav ul li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* Header Section CSS ends */

/* Banner Section CSS starts */
#banner .banner-bg .banner .banner-content{
    display: flex;
    justify-content: space-between;
}

#banner .banner-bg .banner .banner-content .banner-text{
    margin-top: 148px;
}
#banner .banner-bg .banner .banner-content .banner-text h2 {
    color: var(--black-col);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

#banner .banner-bg .banner .banner-content .banner-text h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 24px;
    background: var(--linear_2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner .banner-bg .banner .banner-content .banner-text p {
    margin-bottom: 15px;
}

#banner .banner-bg .banner .banner-content .banner-text p:hover i {
    color: #F948B2;
}

#banner .banner-bg .banner .banner-content .banner-text .button {
    display: flex;
    gap: 30px;
}

#banner .banner-bg .banner .banner-content{
    position: relative;
}

#banner .banner-bg .banner .banner-content .b-img{
    position: absolute;
    left: -250px;
}

/* #banner .banner-bg .banner{
    background: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left: 100px;
} */

/* Banner Section CSS ends */