/* Font Import starts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Font Import ends */


/* common css starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --linear_1: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear_2: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --cm-bg_color: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    --pera-col: #534C64;
    --black-col: #0B0223;
    --font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

body {
    font-family: var(--font-family);
}

.full-wrapper {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

.btn button {
    background: var(--linear_1);
    border: none;
    display: inline-flex;
    padding: 15px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
}

.common_p {
    color: var(--pera-col);
    font-weight: 500;
}

.h-text {
    text-align: center;
}

.h-text h2 {
    color: var(--black-col);
    font-size: 48px;
    font-weight: 700;
}

.h-text span {
    background: var(--linear_2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 48px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: normal; */
}

.h-text p {
    color: var(--pera-col);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

/* common css ends */

/* Header Section CSS starts */
#header .header-bg {
    padding-top: 44px;
    padding-bottom: 44px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

#header .header-bg .header {
    display: flex;
    justify-content: space-between;
}

#header .header-bg .header .header-logo a {
    display: flex;
}

#header .header-bg .header .header-logo p {
    color: var(--black-col);
    font-size: 45px;
    font-weight: 700;
    margin-left: 10px;
}

#header .header-bg .header .header-logo p span {
    background: var(--linear_1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header .header-bg .header .header-menu {
    display: flex;
    align-items: center;
}

#header .header-bg .header .header-menu nav ul {
    display: flex;
    gap: 40px;
}

#header .header-bg .header .header-menu nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .header-bg .header .header-menu nav ul li:hover {
    border-radius: 8px;
    /* width: 200px; */
    height: 36px;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);
}

#header .header-bg .header .header-menu nav ul li:nth-child(3) {
    border-radius: 8px;
    width: 200px;
    height: 36px;
    text-align: center;
    background: rgba(11, 2, 35, 0.10);

}

#header .header-bg .header .header-menu nav ul li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* Header Section CSS ends */

/* Banner Section CSS starts */
#banner .banner-bg .banner .banner-content {
    display: flex;
    justify-content: space-between;
}

#banner .banner-bg .banner .banner-content .banner-text {
    margin-top: 148px;
}

#banner .banner-bg .banner .banner-content .banner-text h2 {
    color: var(--black-col);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

#banner .banner-bg .banner .banner-content .banner-text h1 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 24px;
    background: var(--linear_2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner .banner-bg .banner .banner-content .banner-text p {
    margin-bottom: 15px;
}

#banner .banner-bg .banner .banner-content .banner-text p:hover i {
    color: #F948B2;
}

#banner .banner-bg .banner .banner-content .banner-text .button {
    display: flex;
    gap: 30px;
}

#banner .banner-bg .banner .banner-content {
    position: relative;
}

#banner .banner-bg .banner .banner-content .b-img {
    position: absolute;
    left: -250px;
    height: 100%;
    z-index: -1;
}

/* Banner Section CSS ends */

/* gallery section css starts */
#gallery .gallery-bg {
    margin: 120px 0px;
}

/* #gallery .gallery-bg .gallery .gallery-content .gallery-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, 342px);
    justify-content: space-between;
} */
#gallery .gallery-bg .gallery .gallery-content .gallery-items {
    display: grid;
    grid-template-columns: repeat(4, 342px);
    justify-content: space-between;
}

/* #gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card{
    width: 342px;
} */

#gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card .img-div {
    height: 400px;
    position: relative;
    overflow: hidden;
}

#gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card .img-div img {
    width: 100%;
}

#gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card .img-div .overlay {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(11, 2, 35, 0.600);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

#gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card .img-div:hover .overlay {
    opacity: 1;
    border: 5px solid #F948B2;

}

#gallery .gallery-bg .gallery .gallery-content .gallery-items .gl-card p {
    color: var(--pera-col);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 15px;
}

/* gallery section css ends */



/* play instant section  ccs starts */
#play-ins .play-ins-bg .play-ins .play-ins-content {
    display: flex;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .pp {
    display: flex;
    align-items: center;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-text {
    text-align: right;
    padding-left: 187px;
    padding-right: 263px;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(2) {
    color: var(--pera-col);
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(1) {
    color: var(--black-col);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(1) span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-img {
    position: relative;
}

#play-ins .play-ins-bg .play-ins .play-ins-content .play-img .lower-img {
    position: absolute;
    top: 360px;
    right: 461px;
}

/* play instant section  ccs ends */

/* play games section  ccs starts */
#play-gam .play-ins-bg {
    margin-top: 180px;
    margin-bottom: 200px;
}

#play-gam .play-ins-bg .play-ins .play-ins-content {
    display: flex;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .pp {
    display: flex;
    align-items: center;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-text {
    text-align: left;
    padding-left: 249px;
    padding-right: 55px;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(2) {
    color: var(--pera-col);
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(1) {
    color: var(--black-col);
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-text p:nth-child(1) span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-img {
    position: relative;
}

#play-gam .play-ins-bg .play-ins .play-ins-content .play-img .lower-img {
    position: absolute;
    top: 408px;
    left: 528px;
}

/* play games section  ccs ends */


/* grid-game section css starts */
#grid-game .grid-game-bg {
    padding: 120px 0px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

#grid-game .grid-game-bg .grid-game .d1 {
    height: 80px;
    width: 272px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    background-color: #FFF;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

#grid-game .grid-game-bg .grid-game .d1:hover {
    border: 1px solid #F948B2;
    color: #F948B2;
}

#grid-game .grid-game-bg .grid-game .d1:hover span {
    /* border: 1px solid #F948B2; */
    color: #F948B2;
}

#grid-game .grid-game-bg .grid-game .d1 img {
    width: 60px;
    height: 60px;
}

#grid-game .grid-game-bg .grid-game .d1 span {
    color: var(--black-col);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
}


#grid-game .grid-game-bg .grid-game .grid-align {
    display: grid;
    grid-template-columns: repeat(5, 248px);
    justify-content: space-between;
    /* justify-content: center; */
    grid-template-rows: repeat(2, 80px);
    row-gap: 30px;
}

#grid-game .grid-game-bg .grid-game .grid-align .f,
.g,
.h,
.i {
    margin-left: 50%;
}

/* grid-game section css ends */


/* Footer Section starts */
#footer .footer-bg {
    background-color: var(--black-col);
    padding-top: 120px;
    padding-bottom: 120px;
}

#footer .footer-bg .footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .footer-bg .footer .footer-content .header-logo a {
    display: flex;
}

#footer .footer-bg .footer .footer-content .header-logo p {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

#footer .footer-bg .footer .footer-content .header-logo p span {
    background: var(--linear_1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer .footer-bg .footer .footer-content .footer-menu ul {
    display: flex;
    margin-top: 60px;
}

#footer .footer-bg .footer .footer-content .footer-menu ul li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px 60px;
}

#footer .footer-bg .footer .footer-content .social ul {
    display: flex;
    gap: 40px;
    margin: 70px 0px;
    /* flex-wrap: wrap; */
}

#footer .footer-bg .footer .footer-content .terms ul {
    display: flex;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */
}

#footer .footer-bg .footer .footer-content .terms ul li a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 40px;
}

#footer .footer-bg .footer .footer-content p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* Footer Section ends */



.hide{
    display: none;
}